<h1>Add Movies for Each Oscar Category</h1>
<div class="container col-md-12">
  <%= form_tag add_movies_to_categories_path, :method => 'put' do |f| %>
    <%= select("name", "category", @oscar_categories) %>
    <%= submit_tag 'Add Movies'%>
  <% end %>
</div>
