<h1>Add Movies for Each Oscar Category</h1>
<div class="container col-md-12">
  <form class="add_movies_form">
    <%= select("name", "category", @oscar_categories) %>
    <input type="text" name="movie1"/>
    <input type="text" name="movie2"/>
    <input type="text" name="movie3"/>
    <input type="text" name="movie4"/>
    <input type="text" name="movie5"/>
    <input type="text" name="movie6"/>
    <input type="text" name="movie7"/>
    <input type="text" name="movie8"/>
    <input type="text" name="movie9"/>
    <input type="submit" value="Add Movies" />
  </form>
</div>
