body {
  background: url('http://orig06.deviantart.net/5312/f/2011/020/7/f/old_notepaper_texture_by_polkapebble-d37nxw3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: center;

  h1 {
    display: inline-block;
    margin: auto;
    font-family: 'Gloria Hallelujah', cursive;
  }
}
